/* .i{
    display: flex;
    height: 100vh;
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-left-wrapper{
    padding: 50px;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
}
.i-intro{
    font-size: 30px;
    font-weight: 300;
}
.i-name{
    font-size: 60px;
}
.i-title{
    height: 50px;
    overflow: hidden;
}
.i-title-wrapper{
    height: 100%;
    animation: move 9s ease-in-out infinite alternate;
}
@keyframes move {
    33% {
        transform: translateY(-50px);
    }
    66% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(-150px);
    }
}
.i-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color:#F9F2EB;
    align-items: center;
}
.i-backg{
    clip-path: circle(50.2% at 98% 50%);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.i-scroll{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}
.i-desc-box{
    padding-left: 40%;
}
@media screen and (max-width: 480px) {
    .i {
      flex-direction: column;
    }
    .i-title{
        text-align: left;
        margin-left: 13px;
    }
    .i-intro{
        text-align: left;
        margin: 10px;
        margin-left: 13px;
    }
    .i-left-wrapper {
      padding: 5%;
      align-items: center;
      justify-content: center;
      /* text-align: right; */
      /* height: 80%;
    }
    .i-name{
        color: #FEFCFB;
        margin: 10px;
    }
    .i-title-item{
        font-weight: bold;
        color:#4C3319;
        align-items: center;
    }
    .i-desc{
      display: none;
    }
    .i-backg{
        clip-path: circle(50.2% at 98% 50%);
        /* background-color: rgb(224, 195, 133); */
        /* height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
  } */
