.intro {
    grid-area: intro;

    background-image: url("https://images.unsplash.com/photo-1507919909716-c8262e491cde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(.6);

}
.background{
    font-size: large;
    color: white;
}
