.App {
  text-align: center;
  background-image: url(C:\Users\LENOVO\Desktop\DESKTOP\PortfolioCode\portfolio\src\images\tlo.png);
  background-size:cover;
  background-repeat: no-repeat; 
  background-color: #f5ebe0;
}

@media (prefers-reduced-motion: no-preference) {
 
}