

  /* @media screen and (max-width: 480px) {
    .a {
      flex-direction: column;
      text-align: center;
      margin-top: 100px;
    }
    .a-left{
        width: 100%;
    }
    .a-card {
        height: 30vh;
      }
      .a-right{
        padding: 20px;
      }

  } */
