.about {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-items: center;
  grid-template-areas:
    "photo welcome"
    "photo aboutInfo";
  grid-area: about;
}

.photo { grid-area: photo; }

.welcome { grid-area: welcome; }

.aboutInfo { grid-area: aboutInfo; }
