body {
background-image: url("images/background.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: grey;
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: xx-large;
text-align: center;
justify-content: center;
}
.container {
  width: 90%;
  height: auto;
  justify-self: center;
  color: transparent;
  animation-name: example;
  animation-delay: 1s;
  animation-duration: 4s;
}
#text {
  font: bolder 11vw;
  margin: 0;
  -webkit-text-stroke: 2px white;
  color: transparent;
  
}
@keyframes example {
  0%   {left:500px}
  25%  {left:350px}
  50%  {left:200px}
  75%  {left:50px}
  100% {left:0px}
}
.item {
  width: 100%;
  height: 100%;
  position: absolute;
}
@media only screen and (max-device-width: 480px) {
  .container {
    width: 90%;
    height: auto;
    background-color: red;
  }
  #text {
    color: transparent;
    font-size: xx-large;
  }
}