body {
background-image: url("images/background.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: black;
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
justify-content: center;
}
.container {
  width: 50%;
  height: auto;
  margin: 2rem;
  text-align: left;
}
#text1 {
  font: bolder 11vw;
  margin: 0;
  -webkit-text-stroke: 2px white;
  color: transparent;
  font-size: 4rem;
}
#text2 {
  font: bolder 11vw;
  margin: 0;
  -webkit-text-stroke: 2px white;
  color: white;
  opacity: 0.7;
  font-size: 4rem;
}
.item {
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 480px) {
  .container {
    margin: 1rem;
    width: 90%;
    height: auto;
    /* background-color: red; */
  }
  #text1 {
    color: transparent;
    font-size: xx-large;
  }
  #text2 {
    color: white;
    opacity: 0.7;
    font-size: xx-large;
  }
  .mail {
    height: 8px;
    width: 10px;
    justify-content: right;
    margin: 0.5rem;
  }
}
.mail {
  height: 10px;
  width: 12px;
  justify-content: right;
  margin: 0.5rem;
}