body {
background-image: url("images/background.jpg");
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: grey;
color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: xx-large;
text-align: center;
justify-content: center;
}
.container {
  width: 90%;
  height: auto;
  justify-self: center;
  /* text-shadow: 2px 2px whitesmoke; */
  color: transparent;
}
#text {
  font: bolder 12vw;
  text-align:  center;
  margin: 0;
  background: url("https://rpsthecoder.github.io/img-repo/Taitō%20by%20Jezael%20Melgoza.jpg") center;
  background-size: contain;
  margin: auto;
  width: 75vw;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.item {
  width: 100%;
  height: 100%;
  position: absolute;
}
@media only screen and (max-device-width: 480px) {
  .container {
    width: 90%;
    height: auto;
    background-color: red;
  }
  #text {
    color: transparent;
    font-size: xx-large;
  }
}